<div style="float:left; margin: 5px 15px 20px 0;"><%= image_tag "raven_icon.png" %></div>
<h1>Project Raven</h1>
<p>We manage the provenance and provable exclusivity of digital and physical art collections. Collections have the assurance of 
	....</p>
