<h2>Press your Token</h2>
<p>Insert the Raven token, and press the button.</p>
<%= form_tag(:controller => :find_art_controller, :action => :yfind, :method => :get) do %>
  <div class="field">
    Token<br />
    <%= text_field_tag :yubi_opt %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
